@import "_variables.scss";

@mixin default-button($bg-color: $indigo-blue, $color: $white) {
    width: 170px;
    height: 60px;
    background-color: $bg-color;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;

    &.icon {

    }

    &.active, &:active {
        opacity: .8;
    }
}

@mixin header-font-size($biggest-font-size) {
    /* biggest-font-size >=70px -- recommended */
    font-size: $biggest-font-size - 40px;
    @media (min-width: 576px) { font-size: $biggest-font-size - 30px; }

    @media (min-width: 768px) { font-size: $biggest-font-size - 20px; }

    @media (min-width: 1200px) { font-size: $biggest-font-size; }
}
