@import "_variables.scss";
@import "_mixin.scss";

#contact {
    background-color: $mustary-yellow;
    height: 400px;

    .title {
        font-size: 25px;
        font-weight: bold;
    }

    .btn-contact {
        @include default-button($bg-color: $normal-gray, $color: $white);
    }
}