@import "_variables.scss";
@import "_mixin.scss";

#description {
    background-color: $mustary-yellow;
    .description {
        height: 400px;

        .title {
            font-size: 45px;
            font-weight: bold;
            color: $indigo-dark;
            max-height: 70px;
            margin-top: 40px;
        }

        .text {
            font-size: 20px;
            font-weight: bold;
            color: $black;
        }

        .btn-offer {            
            @include default-button();
        }
    }
    
}