@import "_variables.scss";
@import "_mixin.scss";

#socialMedia {
    background-color: $indigo-blue;
    height: 300px;

    .facebook-icon {
        width: 70px;
        height: 70px;
        border-radius: 100px; 
        background-color: $light-gray;
        color: $white;

        &:hover, &:active {
            background-color: $normal-gray;
            color: $mustary-yellow;
        }
    }

    .instagram-icon {
        width: 70px;
        height: 70px;
        border-radius: 100px; 
        background-color: $light-gray;
        color: $white;

        &:hover, &:active {
            background-color: $normal-gray;
            color: $mustary-yellow;
        }
    }

    .youtube-icon {
        width: 70px;
        height: 70px;
        border-radius: 100px; 
        background-color: $light-gray;
        color: $white;

        &:hover, &:active {
            background-color: $normal-gray;
            color: $mustary-yellow;
        }
    }
}